<div class="resource-index-header page-header title-style fill-grey">
  <div class="row-fluid">
    <div class="span8 offset1 tab-top-buffer">
      <h1 class="sub-heading"><%= t(:faq) %></h1>
    </div>
  </div>
</div>
<div class="span8 offset1 tab-top-buffer">
  <div>
    <div class="faq-question">
      <%= t(:faq_1) %>
    </div>
    <div class="faq-question">
      <%= t(:faq_2) %>
    </div>
    <div class="faq-question">
      <%= t(:faq_3) %>
    </div>
    <div class="faq-question">
      <%= t(:faq_4) %>
    </div>
    <div class="faq-question">
      <%= t(:faq_5) %>
    </div>
  </div>
</div>