<% if comment == @comment %>
<div id="current_comment" class="span12 comment-container">
<% else %>
<div class="span12 comment-container">
<% end %>
  <div class="pull-left span1">
    <%= image_tag comment.user.picture.photo.url(:thumb) %>
  </div>
  <div class="span10 top-buffer">
    <div><%= link_to comment.user.full_name, comment.user %>  <%= comment.content %></div>
    <div>
      <span class="side-buffer"><%= render partial: 'reviews/like_button', locals: {object: comment} %></span>
      <span class="side-buffer"><i class="icon-thumbs-up"><%= comment.likes.count %></i></span>
      <span class="timestamp"><%= distance_of_time_in_words(Time.now, comment.created_at) + " ago" %></span>  
    </div>
  </div>
  <div class="pull-right">
    <span class="side-buffer"><%= render partial: 'reviews/remove_button', locals: {object: comment} %></span>
  </div>
</div>