<%= form_for @user, :html => { :class => "form form-horizontal"} do |f| %>

  <% if @user.errors.any? %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">&#215;</a>
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <!-- fixed -->
          <!-- We can move the whole below line in a helper method with 'msg' as o parameter. -->
          <%= show_error_message(msg) %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name %>
    </div>
  </div>

  <div class="actions offset4">
    <%= f.submit 'Update', :class => 'btn btn-primary'%>
  </div>
<% end %>