<tr>
  <% attributes = Resource.column_names - ['id', 'created_at', 'updated_at'] %>
  <% attributes.each do |attr| %>
    <td><%= attr == 'description' ? truncate(resource.try(attr.to_sym), length: 50) : resource.try(attr.to_sym) %></td>
  <% end %>
  <% @fields.each do |field| %>
    <td><%= get_field_value(resource, field) %></td>
  <% end %>
  <td>
    <%= link_to 'Show', admin_resource_path(resource), :class => 'btn btn-mini' %>
    <%= link_to 'Edit', edit_admin_resource_path(resource), :class => 'btn btn-mini btn-info' %>
    <%= link_to 'Destroy', admin_resource_path(resource), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>