<div class="control-group">
  <% label_name = field.name %>
  <% label_name += '*' if field.required %>
  <% type = field.type %>
  <%= f.label :value, label_name, :class => 'control-label' %>
  <div class="controls">
    <% case type%>
    <% when 'SelectBoxField' %>
      <% options_array = options_array_from_hash(field.options) %>
      <% options_array.unshift(['-- select an option --', '']) %>
      <%= f.select :value, options_array %>
    <% when 'RadioButtonField' %>
      <% options_array = options_array_from_hash(field.options) %>
      <%= f.hidden_field :value, :value => "" %>
      <% options_array.each do |text, value| %>
        <div class="radio inline">
          <%= f.radio_button(:value, value) %>
          <%= f.label(:value, text ) %>
        </div>
      <% end %>
    <% when 'TextField' %>
      <% field_value = f.object.value %>
      <% f.object.value ||= (field_value == false ? "false" : field.default_value) %>
      <%= f.text_field :value %>
    <% when 'TextAreaField' %>
      <% field_value = f.object.value %>
      <% f.object.value ||= (field_value == false ? "false" : field.default_value) %>
      <%= f.text_area :value %>
    <% when 'CheckBoxField' %>
      <%= f.text_area :value %>
    <% end %>
  </div>
  <%= f.hidden_field :field_id, :value => field.id %>
</div>