<% content_for :sub_heading do %>
  Listing <%= ResourceName.pluralize %>
<% end %>
<% status = params[:status].to_sym %>
<ul class="nav nav-tabs tab-top-buffer">
  <li class="<%= 'active' if params[:status].to_sym == :approved %>">
    <%= link_to "Approved #{ ResourceName.pluralize }", admin_resources_path(status: :approved) %></a>
  </li>
  <li class="<%= 'active' if params[:status].to_sym == :pending %>">
    <%= link_to "Pending Approval", admin_resources_path(status: :pending) %></a>
  </li>
</ul>
<% if @resources.blank? %>
  <% if status == :approved %>
    <% flash[:error] = "No #{ ResourceName } created. Click on 'Add new #{ ResourceName }'" %>
  <% elsif status == :pending %>
    <% flash[:error] = "No #{ ResourceName } pending for Approval." %>
  <% end %>
<% else %>
  <% flash[:error] = nil %>
  <table class="table table-hover tab-top-buffer">
    <thead>
      <tr>
        <% @resource_columns.each do |attr| %>
          <th><%= attr.humanize %></th>
        <% end %>
        <% @fields.each do |field| %>
          <th><%= field.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <%= render partial: 'resource', collection: @resources, as: :object, locals: { status: status } %>
    </tbody>
  </table>
<% end %>
<div class="tab-top-buffer">
  <%= link_to "Add a new #{ ResourceName.singularize }", new_admin_resource_path, :class => 'btn btn-success' if status == :approved %>
</div>