<div class="row-fluid resource-review-container listing">
  <div class="span10">
    <div class="row-fluid">
      <div class="pull-left side-buffer">
        <%= image_tag "resource.jpg", size: "60" %>
      </div>
      <div>
        <div><h4 class="heading"><%= link_to object.name, object, 'data-no-turbolink' => true %></h4></div>
        <div><i class="icon-map-marker">
          <%= get_field_value(object, @location_field) %>
          <%= get_field_value(object, @city_field) %>
        </i></div>
      </div>
    </div>
    <div class="row-fluid top-buffer">
      <%= object.description.truncate(300) %> <%= link_to "Read More", object, 'data-no-turbolink' => true %>
    </div>
  </div>
  <div class="pull-right">
    <div class="row-field">
      <div class="rating-meter-label">RATED AS</div>
      <div class="rating-meter"><%= object.calc_avg_rating %></div>
    </div>
    <div class="row-field top-buffer">
      <div class="pull-right">
        <div id="votes" class="magnify pull-right"><%= object.ratings.count %><i class="icon icon-ok"></i></div> 
        <div class="minify">RATINGS</div>
      </div>
    </div>
    <div class="row-field">
      <div class="pull-right">
        <div class="magnify pull-right"><%= object.reviews.count %><i class="icon icon-pencil"></i></div>
        <div class="minify">REVIEWS</div>
      </div>
    </div>
  </div>
</div>
