<div class="page-header title-style fill-grey">
  <div class="row-fluid">
    <div class="span8 offset1 top-buffer">
      <h1 class="heading"><%= @resource.name %></h1>
      <h4><i class="icon-map-marker">
        <%= get_field_value(@resource, Field.find_by_name(:Location)) %>,
        <%= get_field_value(@resource, Field.find_by_name(:City)) %>
      </i></h4>
      <div><%= @resource.description %></div>
    </div>
    <div class="span2"> 
      <div class="pull-right top-buffer">
        <div class="rating top-buffer">
          <div>Rating</div>
          <div>Score</div>
        </div>
        <div class="top-buffer">
          <i class="heading icon-thumbs-up">
            <span class="magnify"><%= @resource.ratings.count %></span> votes
          </i>
        </div>
        <div>
          <i class="heading icon-pencil"> 
            <span class="magnify"><%= @resource.reviews.count %></span> reviews
          </i>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span10 offset1 top-buffer">
      <ul class="inline">
      <% @resource.fields_values.each do |field_value| %>
        <% if !(field_value.field.name == 'Location' || field_value.field.name == 'City') %>
        <li class="side-buffer">
            <i class="icon-tag">
              <%= field_value.field.name %>:
              <%= get_field_value(@resource, field_value.field) %>
            </i>
        </li>
        <% end %>
      <% end %>
      </ul>
    </div>
  </div>  
</div>

<div class="row-fluid">
  <div class="span10 offset1">
    <div>
      <h3 class="heading">Write a Review for <%= @resource.name %><h3>
    </div>
    <div class="row-fluid">
     <%= render 'new_review' %>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span9 offset1">
    <div>
      <h3 class="heading">User Reviews for <%= @resource.name %><h3>
    </div>
    <div>
      <%= render @resource.reviews %>
    </div>
  </div>
</div>