<div id="resource-header" class="page-header title-style fill-grey">
  <div class="row-fluid">
    <div class="span8 offset1 top-buffer">
      <div class="row-fluid">
        <div class  ="span8"><h1 class="heading"><%= @resource.name %></h1></div>
        <div class="pull-right top-buffer">
          <h4 class="heading">Your rating: <span id="star-rating"><%= render 'rating_button' %><span></h4>
        </div>
      </div>
      <div class="row-fluid">
        <%= liquidize(@keywords_template.content, 'resource' => @resource).html_safe %>
      </div>
      <div class="row-fluid top-buffer"><%= @resource.description %></div>
    </div>  
    <div class="span2">
      <div class="pull-right top-buffer">
        <div class="row-field top-buffer">
          <div class="rating-meter-label">RATED AS</div>
          <div id="score" class="rating-meter"><%= @resource.calc_avg_rating %></div>
        </div>
        <div class="row-field top-buffer">
          <div class="pull-right">
            <div class="magnify pull-right"><span id="votes"><%= @resource.ratings.count %></span><i class="icon icon-ok"></i></div>
            <div><%= 'rating'.pluralize(@resource.ratings.count).upcase %></div>
          </div>
        </div>
        <div class="row-field pull-right top-buffer">
          <div class="pull-right">
            <div class="magnify pull-right"><%= @resource.reviews.count %><i class="icon icon-pencil"></i></div>
            <div><%= 'review'.pluralize(@resource.reviews.count).upcase %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span10 offset1 top-buffer">
      <%= liquidize(@tags_template.content, 'resource' => @resource).html_safe %>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span8 offset1 border-down">
    <div>
      <h3 class="heading">Write a Review for <%= @resource.name %><h3>
    </div>
    <div class="row-fluid">
     <%= render 'new_review' %>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span8 offset1">
    <div>
      <h3 class="heading">User Reviews for <%= @resource.name %><h3>
    </div>
    <div>
      <%= render partial: 'resources/resource_review', collection: @resource.reviews, as: :review %>
    </div>
  </div>
</div>