<%= form_for Comment.new, remote: true, :html => { :class => "form span12 new-comment" } do |f| %>
  <div class="pull-left">
    <%= get_new_comment_thumbnail %>
  </div>
  <div class="span9 pull-left">
    <%= f.text_area :content, class: "span12", rows: 1, placeholder: "Click to add in a comment.." %>
  </div>
  <div class="actions span1">
    <%= f.submit 'Comment', :class => 'btn btn-small', remote: true%>
  </div>
  <%= f.hidden_field :review_id, :value => review.id %>
<% end %>