<li class="media">
  <div class="row-fluid">
    <div class="span1 top-buffer">
      <img src="/images/user.jpg">
    </div>
    <div class="media-body span9">
      <div class="media content">
        <h4 class="heading">Author Name</h4>
        <i class="icon-pencil">(#)Reviews</i>
        <div class="top-buffer"><%= review.content %></div>
        <ul class="pull-left inline top-buffer">
          <li class="btn btn-small"><i class="icon-comment"> Comment</i></li>
          <li class="btn btn-small"><i class="icon-thumbs-up"> Like</i></li>
        </ul>
        <ul class="pull-right inline top-buffer">
          <li class="inline heading">
            <span class="magnify"><%= review.comments.count %></span>
            <span class="minify">comments</span>
          </li>
          <li class="inline heading">
            <span class="magnify"><%= review.likes.count %></span>
            <span class="minify">likes</span>
          </li>
        </ul>
        <div class="top-buffer comments-container">
          <%= render review.comments %>
          <%= render partial: 'new_comment', locals: {review: review} %>
        </div>
      </div>
    </div>
    <div class="span2 top-buffer">
      <div class="pull-right">
        Rated As
        <div class="rating span6">
          <div>Rating</div>
          <div>Score</div>
        </div>
      </div>
    </div>
  </div>
</li>