<div class="span8 offset1">
  <div class="row-fluid">
    <div>
      <h2 class="heading border-down bottom-buffer"><%= link_to get_full_name(@review.user), @review.user %>'s review for <%= @review.resource.name %></h2>
    </div>
  </div>
  <% resource_obj = @review.resource %>
  <% review = @review %>
  <div class="row-fluid top-buffer" >
    <div class="row-fluid">
      <div class="pull-left">
        <%= image_tag "resource.jpg", size: "80" %>
      </div>
      <div class="span8">
        <div><h4 class="heading"><%= link_to resource_obj.name, resource_obj, 'data-no-turbolink' => true %></h4></div>
        <%= liquidize(@resource_keywords_template.content, 'resource' => resource_obj).html_safe %>
      </div>
      <div class="pull-right">
        <%= render partial: 'rating_meter', locals: { review: review } %>
      </div>
    </div>
    <div id="<%= 'review_' + review.id.to_s + '_sub_container' %>">
      <%= render review %>
    </div>
  </div>
</div>