<li><%= link_to t(:my_profile), current_user %></li>
<li class="divider"></li>
<li class="nav-header"><%= t(:action) %></li>
<li><%= link_to t(:edit_profile), edit_user_path(current_user) %></li>
<% if current_user.admin? %>
  <li><%= link_to t(:panel), admin_path %></li>
<% end %>
<li><%= link_to t(:sign_out), destroy_user_session_path, method: :delete %></li>