<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "GoCritik" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= render "query/login_modal" %>
    <%= render "query/sign_up_modal" %> 
    <div class="navbar navbar-inverse navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">GoCritik</a>
          <div class="container-fluid nav-collapse">
            <%= form_tag resources_path, method: :get, class: "navbar-search offset1" do %>
              <p>
                <%= text_field_tag :search, params[:search], 
                  class: "search-query span5", 
                  placeholder: "Search #{ ResourceName.pluralize } by #{ get_searchable_fields.to_sentence(:last_word_connector => ' or ') }.. "%>
              </p>
            <% end %>
            <ul class="pull-right nav">
              <% if user_signed_in? %>
                <% if current_user.admin? %>
                  <%= link_to "Admin Panel", admin_path, :class => 'btn btn-small btn-success', :id => "sign-up-btn" %>
                <% end %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%= get_full_name(current_user) %>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <%= render partial: 'layouts/settings_menu' %>
                  </ul>
                </li>
              <% else %>
                <%= link_to "Sign up", "#sign_up", "data-toggle" => "modal", :class => 'btn btn-small btn-success', :id => "sign-up-btn" %>
                <%= link_to "Login", "#login", "data-toggle" => "modal", :class => 'btn btn-small', :id => "login-btn"%>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div id="footer" class="page-header">
        <div class="row-fluid">
          <div class="span6 pull-left offset1 top-buffer">
            <h4 class="bleach">About GoCritik.com</h4>
            <div><%= ResourceTrivia %></div>
          </div>
          <div class="span2 top-buffer">
            <div class="border-down">
              <div class="magnify bleach"><%= Resource.approved.count %></div>
              <div><%= "Listed #{ ResourceName.pluralize }" %></div>
            </div>
            <div class="top-buffer border-down">
              <div class="magnify bleach"><%= User.count %></div>
              <div><%= "Registered Users" %></div>
            </div>
            <div class="top-buffer border-down">
              <div class="magnify bleach"><%= Review.count %></div>
              <div><%= "Trusted Reviews" %></div>
            </div>
          </div>
          <div class="span2 top-buffer">
            <div class="top-buffer">
              <%= link_to "List Your Own #{ ResourceName }", new_resource_path, class: "btn top-buffer" %>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>